/** 回复 **/
.topic-reply {
  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  a {
    color: inherit;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
}

/* User profile page */
.users-show-page {
  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
  .rpely-content {
    margin: 6px 0;
  }
}

/* Topic Index Page */